.form__field {
  width: 100%;
  color: $primaryText;
  font-weight: 500;
  margin-bottom: 32px;
}
.form__field input {
  width: 100%;
  height: 48px;
  border-radius: 5px;
  outline: none;
  background-color: $secondaryBg;
  color: $primaryText;
  border: none;
  padding: 12px;
}
.form__field label {
  color: $secondaryText;
}
.form__field .form__field__error {
  color: $primaryRed !important;
  font-weight: 300;
}
