.profilecard {
  display: flex;
  text-decoration: none;
  padding: 10px 20px;

  &:hover {
    background-color: $secondaryBg;
  }
}
.profilecard__img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.profilecard__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 12px;

  div:first-child {
    font-weight: 400;
    color: $primaryText;
  }

  div:last-child {
    color: $secondaryText;
  }
}
