.sidenav {
  width: 300px;
  height: 100%;
  background-color: $primaryBg;
  padding: 40px 0 0 20px;
  border-right: 1px solid $sepColor;
}
.sidenav .sidenav__brand {
  text-decoration: none;
  color: $primaryText !important;
  font-size: 32px;
  font-weight: bold;
}
