.inbox {
  width: 100%;
  height: 100%;
  background-color: $secondaryBg;
  color: $primaryText;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inbox__container {
  width: 80%;
  height: 100%;
  background-color: $primaryBg;
  border: 1px solid $sepColor;
  display: flex;
  border-radius: 5px;
}
.inbox__container__allchats {
  width: 35%;
  height: 100%;
}
.inbox__container__singlechat {
  width: 65%;
  height: 100%;
}
